:root {
  --violeta: #2c1268;
  --lila: #b88ee0cb;
  --azul: #1a1377;
  --azulclaro: #7472e2;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(to top, #eadbfd 0%, var(--lila) 100%);
  margin: 0;
  padding: 0 20px; /* Padding para alejar contenido de los bordes */
}

/* Ensure block display for certain elements */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, body, h1, h2, h3, .titulo, .sombra, .boton {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography and appearance settings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 10px 0;
}

.sombra {
  -webkit-box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
  -moz-box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
  box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
  background-color: var(--lila);
  padding: 1rem;
  height: 666px;
}

.titulo {
  text-align: center;
  color: var(--violeta);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
}

.nav-bg {
  background-color: var(--violeta);
}

.navegacion-principal {
  font-family: "Jersey 10", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: medium;
  margin: 20px 0; /* Aumentado el margen para alejar los párrafos de los bordes */
}

a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.titulo span {
  font-size: 3rem;
}

button:hover {
  background: #3742fa;
}

input, textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Mobile-specific styles */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }

  h1 {
      font-size: 3rem;
      margin: 0.67em 0;
  }

  h2 {
      font-size: 3.5rem;
  }

  h3 {
      font-size: 1.5rem;
  }

  .titulo span {
      font-size: 2rem;
  }

  .subtitulo {
      font-size: 3rem;
  }

  .boton {
      width: 100%;
      margin-top: 20px; /* Espacio adicional para la versión móvil */
  }

  p {
      font-size: 0.8rem; /* Disminuir el tamaño de fuente de los párrafos */
      margin: 10px 0; /* Reducir el margen superior e inferior */
      line-height: 1.4; /* Ajustar la altura de línea para mejorar la legibilidad */
  }
}

/* Styles for containers and buttons */
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.boton {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--azul);
  color: var(--azulclaro);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
}

/* Navigation styles */
.navegacion-principal a {
  color: var(--azulclaro);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.navegacion-principal a:hover {
  background-color: var(--azulclaro);
  color: var(--azul);
}

/* Hero section styles */
.hero {
  background-image: url(./WALLPAPER.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--lila);
}

.contenido-hero.ubicacion {
  display: flex;
  align-items: flex-end;
}

/* Grid layout for services on larger screens */
@media (min-width: 777px) {
  .servicios {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 1rem;
  }
}

/* Flexbox for navigation on larger screens */
@media (min-width: 800px) {
  .navegacion-principal {
      flex-direction: row;
      align-items: center;
  }
}

/* Desktop-specific styles */
@media (min-width: 1024px) {
  body {
      font-size: 16px;
  }

  h1 {
      font-size: 3.8rem;
      margin: 0.67em 0;
  }

  h2 {
      font-size: 4.8rem;
      font-family: "Jersey 10", sans-serif;
      font-weight: 400;
  }

  h3 {
      font-size: 1.8rem;
  }

  .titulo span {
      font-size: 3rem;
  }

  .subtitulo {
      text-align: center;
      font-size: 6.9rem;
      color: var(--azulclaro);
      font-family: "Jersey 10", sans-serif;
      font-weight: 400;
      font-style: normal;
  }

  .sombra {
      -webkit-box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
      -moz-box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
      box-shadow: -1px 9px 11px 0px rgba(99, 99, 189, 1);
      background-color: var(--lila);
      padding: 1rem;
      height: 666px;
  }

  .boton {
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      background-color: var(--azul);
      color: var(--azulclaro);
      padding: 1rem 3rem;
      margin-top: 1rem;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: .5rem;
      width: auto; /* Ajuste para la versión de escritorio */
      text-align: center;
      margin: 20px auto; /* Centra el botón horizontalmente */
      display: block; 
  }

  /* Mobile-specific styles */
@media (max-width: 600px) {
  body {
      font-size: 14px;
  }

  h1 {
      font-size: 3rem;
      margin: 0.67em 0;
  }

  h2 {
      font-size: 3.5rem;
  }

  h3 {
      font-size: 1.5rem;
     

  .titulo span {
      font-size: 2rem;
  }

  .subtitulo {
      font-size: 3rem;
  }

  .boton {
      width: 100%;
      margin-top: 20px; /* Espacio adicional para la versión móvil */
  }

  p {
      font-size: 0.8rem; /* Disminuir el tamaño de fuente de los párrafos */
      margin: 5px 0; /* Reducir el margen superior e inferior */
      line-height: 1.4; /* Ajustar la altura de línea para mejorar la legibilidad */
  }

 

  /* Ajustar el margen de los h3 y párrafos */
  h3, p {
      margin-bottom: 5px; /* Reducir el margen inferior */
  }
} } }
